@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap");

:root {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}
button {
  cursor: pointer;
}

h1 {
  margin-bottom: 0px;
}

main {
  position: relative;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

/* upload img */
.upload-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.download-img {
  width: 300px;
  height: 290px;
  margin: 0.5rem;
}

.main-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
  /* padding: 0.5rem; */
}

.bkgnd {
  width: 270px;
  height: 270px;
  background: #52c0fd;
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  color: aliceblue;
  position: relative;
  margin: auto;
}

#demo1 {
  position: absolute;
  left: 134px;
  top: -16px;
  font-size: 23px;
  letter-spacing: 0.7px;
}

#demo2 {
  position: absolute;
  left: 134px;
  top: 171px;
  font-size: 23px;
}

.logo1 {
  width: 25px;
  position: absolute;
  left: 12px;
  top: 151px;
}

.logo2 {
  width: 25px;
  position: absolute;
  left: 235px;
  top: 151px;
}

.images {
  position: relative;
}

.foreground {
  position: absolute;
  width: 80px;
  top: 120px;
  left: 70px;
  border-radius: 50%;
  filter: drop-shadow(0 0 1rem white);
}

/* upload */

.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(0, 135, 247);
  border-image: none;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  padding: 1rem;
}

.btn-submit {
  margin: 1rem 0.5rem;
  border: none;
  padding: 0.5rem 0.7rem;
  border-radius: 0.4rem;
  background: #52c0fd;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* .dropzone {
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(0, 135, 247);
  width: 300px;
  padding: 2rem;
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  content: "Upload files";
  cursor: pointer;
} */

.dropzone button {
  display: none;
}

.dz-size,
.dz-filename,
.dz-progress,
.dz-error-message,
.dz-success-mark,
.dz-error-mark {
  display: none;
}

/* @media only screen and (max-width: 480px) {
  .dropzone {
    padding: 2rem 1rem;
  }
}

@media only screen and (max-width: 320px) {
  .dropzone {
    padding: 1rem 0.5rem;
  }
}  */

/* download */

#cls-wrapper {
  width: 320px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.download-btn {
  margin: 1rem 0.5rem;
  border: none;
  padding: 0.5rem 0.7rem;
  border-radius: 0.4rem;
  background: #52c0fd;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* footer */

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.footer u {
  text-decoration-color: #2463e9;
}

/* footer li */
.list-inline {
  display: inline;
  padding: 0.7rem 1.5rem;
}
